* {
    margin: 0;
    padding: 0;

}

body {}

.left {
    width: 25vw;
    padding: 5px;
}

.right {
    width: 75vw;
}

.home ul li {
    width: 15px;
    display: flex;
    gap: 16px;
    list-style: none;
    padding-top: 15px;
}

